<h5 class="text-left">Reviews</h5>
<p class="text-center" *ngIf="!reviews || reviews.length <= 0">
  No reviews found for this game.
</p>
<ion-list>
  <ion-item *ngFor="let review of reviews" class="review">
    <ion-avatar item-start>
      <img [src]="review.author.avatarPath">
    </ion-avatar>
    <h2 class="review-title" [innerHTML]="review.title"></h2>
    <div class="review-stats">
      <h3>{{ review.author.name  + ' on ' + (review.added * 1000 | date)}}</h3>
      <h3>{{ review.helpfulVotes + ' of ' + review.totalVotes + ' found this helpful' }}</h3>
    </div>
    <h3>
      <ion-icon *ngFor="let i of review.stars" [name]="i == 1 ? 'star' : 'star-half'" class="star-rating"></ion-icon>
    </h3>
    <div class="row">
      <div class="col-12">
        <p [innerHTML]="fullReview ? review.description : review.teaser" class="review-description"></p>
        <p class="text-center" (click)="fullReview = !fullReview" *ngIf="review.description != review.teaser">
          <a class="read-more">{{ fullReview ? 'Read Less' : 'Read More' }}</a>
        </p>
      </div>
    </div>
  </ion-item>
</ion-list>
<ion-infinite-scroll (ionInfinite)="getReviews($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
