<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GoG</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let game of games">
          <ion-thumbnail item-start>
            <img [src]="'https:' + game.image + '.jpg'">
          </ion-thumbnail>
          <h2>{{ game.title }}</h2>
          <p>{{ game.price.symbol + game.price.amount }}
            <span *ngIf="game.isDiscounted" class="bold armroom discount">-{{ game.price.discount }}%</span>
          </p>
          <button ion-button clear item-end>View</button>
        </ion-item>
      </ion-list>
</ion-content>
