<ion-content padding (ionScroll)="onScroll($event)">
  <ion-searchbar class="games-search" [(ngModel)]="query.search" [showCancelButton]="true" (ionInput)="searchGames()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let game of games">
      <ion-thumbnail item-start>
        <img [src]="'https:' + game.image + '.jpg'">
      </ion-thumbnail>
      <h2>{{ game.title }}</h2>
      <p>{{ game.price.symbol + game.price.amount }}
        <span *ngIf="game.isDiscounted" class="bold armroom discount">-{{ game.price.discount }}%</span>
      </p>
      <p>
        <ion-icon name="logo-windows" *ngIf="game.worksOn.Windows"></ion-icon>
        <ion-icon name="logo-apple" *ngIf="game.worksOn.Mac"></ion-icon>
        <ion-icon name="logo-tux" *ngIf="game.worksOn.Linux"></ion-icon>
      </p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <button [hidden]="!showScrollToTop" ion-button class="scroll-to-top-btn" (click)="scrollToTop()" color="dark" round>
      <ion-icon name="arrow-dropup"></ion-icon>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getGames($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
