.games-search {
  margin-top: 40px;
  padding: 8px 0 !important;
}

.discount {
  background: #666;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 30px;
  left: 45%;
}
