<title-bar [title]="title" [link]="'https://www.gog.com/games?price=discounted&page=1'"></title-bar>

<ion-content padding>
  <ion-searchbar class="games-search" [(ngModel)]="query.search" [showCancelButton]="true" (ionInput)="searchGames()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let game of games" class="game-item">
      <ion-thumbnail item-start>
        <img [src]="'https:' + game.image + '_100.jpg'">
      </ion-thumbnail>
      <h2 class="game-list-title">
        {{ game.title }}
        <span class="in-dev" *ngIf="game.isInDevelopment">IN DEV</span>
      </h2>
      <p>{{ game.price.symbol + game.price.amount }}
        <span *ngIf="game.isDiscounted" class="bold armroom discount">-{{ game.price.discount }}%</span>
      </p>
      <p>
        <ion-icon name="logo-windows" *ngIf="game.worksOn.Windows"></ion-icon>
        <ion-icon name="logo-apple" *ngIf="game.worksOn.Mac"></ion-icon>
        <ion-icon name="logo-tux" *ngIf="game.worksOn.Linux"></ion-icon>
      </p>
      <button ion-button clear item-end (click)="showGameDetail(game.id, game.price)">View</button>
    </ion-item>
    <scroll-button [content]="content"></scroll-button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="getGames($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
